@import url("https://fonts.googleapis.com/css?family=Cairo&display=swap");
@import "variables";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: $baseBackgroundColor !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #403135;
}

html[lang="ar"] body {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

html[lang="en"] body {
  font-family: "Cairo", sans-serif;
  direction: ltr;
}

// Color wheel as classes
.text-color1 {
  color: $color1;
}
.text-color2 {
  color: $color2;
}

.text-color3 {
  color: $color3;
}

.text-color4 {
  color: $color4;
}

.text-color5 {
  color: $color5;
}
