<link rel="stylesheet" href="/css/{{default 'styleName'}}/home/index.css">
{{>home/navbar}}
<header>
    <div class="jumbotron jumbotron-fluid ">
        <div class="container">
            <div id="logo">

            </div>
            <h1 class="display-3">{{default 'websiteName'}}</h1>
            <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit nisi earum cumque dolorem
                distinctio, veritatis, optio nihil eveniet blanditiis magni dolores. Recusandae culpa error voluptatum
                explicabo nobis nostrum eos doloribus?</p>
        </div>
    </div>
</header>
<section id="realBody">
    <div class="container" id="topics">
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Text</p>
                </div>
            </div>

        </div>
    </div>
</section>
<footer class="p-4">
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
</footer>
<script src="/js/home/index.js"></script>